body {
    font-family: 'Roboto', sans-serif;
}

.contents {
    padding-top: 10px;
}

th.details {
   width: 80%;
}

th.options {
    text-align:center;
}

td.options-buttons {
text-align: center;
}

.options-button {
    margin: 2px;
}

